<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title> <%= @page_title %> </title>
</head>
<body>
  <div id="wrapper"> 
  <header>
    <div class="Logo" 
    <ul>
      <% @data["titles"].each do |title| %>
      <li><%= title %></li>
      <% end %>
    </ul>
  </header>
  <ol>
    <% @data["entry"].each do |entry| %>
    <li>
      <img src="images/grayarrow.gif" alt="arrow_mark">
      <h3><%= entry["headline"] %></h3>
      <h5><%= entry["source"] %></h5>
      <p><%= entry["subtitle"] %></p>
    </li>
    <% end %>
  </ol>
   </div>
</body>  
</html>
