<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title> <%= @page_title %> </title>
</head>
<body>
  <header> 
    <ul>
      <% @data["titles"].each do |title| %>
      <li><%= title %></li>
      <% end %>
    </ul>
  </header>

  <ol>
    <% @data["entry"].each do |entry| %>
    <li>
      <img src="<%= entry['image'] %>">
      <h3><%= entry["headline"] %></h3>
      <h5><%= entry["comment"] %></h5>
      <p><%= entry["subtitle"] %></p>
    </li>
    <% end %>
  </ol>
  
</body>  
</html>
